{% extends './base.html' %}








{% block main1 %}

{% block date-block %}
    <div> {{date}}</div>
{% endblock date-block %}
<form class="form-inline my-2 my-lg-0" action="{% url 'ott:search' %}" method="post">
  {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  

<h1>main page</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">type</th>
      <th scope="col">title</th>
      <th scope="col">director</th>
      <th scope="col">country</th>
      <th scope="col">release_year</th>
      <th scope="col">rating</th>
      <th scope="col">duration</th>
      <th scope="col">listed_in</th>
      <th scope="col">description</th>
      
      
    </tr>
  </thead>

 {% for movie in movies %}
  <tbody>
    <tr>
      <th scope="row">{{movie.id}}</th>
      <td>{{movie.type}}</td>
      <td>{{movie.title}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.country}}</td>
      <td>{{movie.release_year}}</td>
      <td>{{movie.rating}}</td>
      <td>{{movie.duration}}</td>
      <td>{{movie.listed_in}}</td>
      <td>{{movie.description}}</td>
      
    </tr>
    
  </tbody>
  {% endfor %}
</table>




  
{% if not movies %}

        <h1>검색 결과가 없습니다</h1>

    {% else %}

        {% for movie in movies.all %}
        <tbody>
            <tr>
              <th scope="row">{{movie.id}}</th>
              <td>{{movie.type}}</td>
              <td>{{movie.title}}</td>
              <td>{{movie.director}}</td>
              <td>{{movie.country}}</td>
              <td>{{movie.release_year}}</td>
              <td>{{movie.rating}}</td>
              <td>{{movie.duration}}</td>
              <td>{{movie.listed_in}}</td>
              <td>{{movie.description}}</td>
              
            </tr>
            
          </tbody>
        {% endfor %}

    {% endif %}

{% endblock %}
